html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/*Visibility*/
@media screen and (max-width: 767px){
  .hide-for-mobile {
    display: none !important;
  }

}

@media screen and (min-width: 768px){
  .hide-for-tablet-up {
    display: none !important;
  }
}

a {
  text-decoration: none;
  color: black;
}

.blue {
  color: #0065FC;
}

.grey {
  color: #D9D9D9;
}

header {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 30px;
}

.logo {
  display: flex;
}

nav {
  flex-basis: 100%;
}

nav > ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.login {
  display: flex;
  margin: auto 0 auto auto;
}

.login > a {
  font-weight: 600;
}

@media all and (min-width: 768px){
  nav {
    order: 1;
    flex-basis: 33%;
    margin: auto 1rem auto auto;
  }

  nav > ul {
    justify-content: space-evenly;
  }

  .login {
    order: 2;
    margin: auto 0 auto;
  }
}

/* end header */


/* start section .search */

.search {
  width: 90%;
  margin: auto;
}

.search-title > h1 {
  font-size: 1.375rem;
}

.search-field {
  position: relative;
}

.search-field input {
  width: 90%;
  height: 49px;
  margin-left: 5%;
  border: 1px solid #F2F2F2;
  border-right: none;
  border-left: none;
  padding-left: 3.75rem;
  font-size: 1rem;
  font-weight: bold;
}

.search-field input:focus {
  outline: none;
}

.fa-map-marker-alt {
  position: absolute;
  left: 0;
  font-size: 1.125rem;
  background-color: #F2F2F2;
  padding: 16px 20px;
  border-radius: 10px 0 0 10px;
}

.fa-search {
  position: absolute;
  right: 0;
  font-size: 1.125rem;
  background-color: #0065FC;
  color: white;
  padding: 1rem;
  border-radius: 10px;
}

.search-field button {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  padding: 16px 12px;
  border-radius: 0 1rem 1rem 0;
  transition: all 0.4s ease-in-out;
}

.search-field button:hover {
  cursor: pointer;
  background-color: #DEEBFF;
  color: black;
}

.filters {
  font-weight: bold;
}

.filters-title {

}

.filters-badge {
  display: flex;
  flex-wrap: wrap;
}

.badge {
  border: 2px solid #F2F2F2;
  padding-right: 1.5rem;
  border-radius: 2rem;
  border-left: none;
  margin: 5px 5px 5px 0;
  transition: all 0.4s ease-in-out;
}

.badge:hover {
  cursor: pointer;
  border-color: #DEEBFF;
}

.badge > i {
  color: #0065FC;
  background-color: #DEEBFF;
  padding: 16px;
  border-radius: 50%;
}

.badge:nth-child(2) > i {
  padding-right: 20px;
}

.filters-information {
  margin-top: 1rem;
  font-weight: normal;
  display: flex;
}

.badge-info {
  color: #0065FC;
}

.badge-info > i {
  padding: 4px 8px;
  border: 2px solid #F2F2F2;
  border-radius: 50%;
  display: initial;
}

.filters-information__text {
  margin-left: 0.5rem;
}

@media all and (min-width: 768px){
  .search-field input {
    width: 40%;
  }
}

/* end section .search */

/* start section .accommodation*/

/*img l127 h134*/

.accommodations {
  margin-top: 2rem;
}

.accommodations-wrapper__popular {
  background-color: #F2F2F2;
  padding-bottom: 2rem;
}

.accommodation-title {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-top: 1.5rem;
}

.fa-chart-line {
  display: flex;
  margin: auto 0;
  font-size: 1.5rem;
}

.accommodations-wrapper__popular-items {

}

.popular-item {
  display: flex;
  max-width: 337px;
  margin: auto auto 10px;
  background-color: white;
  border: 5px solid white;
  border-radius: 30px;
}

.popular-item:last-child {
  margin-bottom: 2rem;
}

.popular-item__img {
  display: flex;
}

.popular-item__img img {
  height: 134px;
  width: 127px;
  object-fit: cover;
  border-radius: 25px 0 0 25px;
}

.popular-item__infos {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.popular-item__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.popular-item__price {
  font-size: 13px;
}

.popular-item__rating {
  margin-top: 2rem;
}

input[type="radio"] {
  display: none;
}

.rate:not(:checked) > label:before {
  content: '★ ';
}

.rate label {
  width: 9px;
  display: inline-block;
}

/* activités */

.accommodations-wrapper__city {
  /*background-color: #F6F6F6;*/
}

.accommodations-wrapper__city-items {
  display: inline-flex;
  flex-wrap: wrap;
}

.city-item {
  display: flex;
  flex-direction: column;
  max-width: 337px;
  margin: auto auto 10px;
  border: 5px solid white;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 5px 5px #F3F3F3;
}

.city-item__img {
  width: 325px;
}

.city-item__img img {
  height: 114px;
  width: 100%;
  object-fit: cover;
}

.city-item__infos {
  background-color: white;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 15px;
}

.city-item__title {
  font-weight: bold;
}

.city-item__price {
  font-size: 13px;
}

.btn-wrapper {
  width: 90%;
  display: flex;
  margin: 20px auto;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  padding: 0;
}

@media screen and (min-width: 1200px){
  .accommodations {
    display: flex;
    justify-content: space-around;
  }

  .accommodations-wrapper__popular {
    order: 2;
    border-radius: 1.5rem;
    width: 419px;
    margin-left: 5%;
  }

  .accommodations-wrapper__city {
    width: 875px;
    border-radius: 1.5rem;
    background-color: #F2F2F2;
  }

  .city-item {
    width: 248px;
    margin: 15px auto;
  }

  .city-item__img img {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .accommodations {
    display: flex;
    justify-content: start;
    margin: 2rem auto;
    width: 90%;
  }

  .popular-item {
    margin: 1rem auto 2rem;
  }

}

/* section .activities */
.activities {
  width: 90%;
  margin: auto;
}
