html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/*Visibility*/
@media screen and (max-width: 767px){
  .hide-for-mobile {
    display: none !important;
  }

}

@media screen and (min-width: 768px){
  .hide-for-tablet-up {
    display: none !important;
  }
}

a {
  text-decoration: none;
  color: black;
}

.blue {
  color: #0065FC;
}

.grey {
  color: #D9D9D9;
}

header {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 30px;
}

.logo {
  display: flex;
}

nav {
  flex-basis: 100%;
}

nav > ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.login {
  display: flex;
  margin: auto 0 auto auto;
}

.login > a {
  font-weight: 600;
}

@media all and (min-width: 768px){
  nav {
    order: 1;
    flex-basis: 33%;
    margin: auto 1rem auto auto;
  }

  nav > ul {
    justify-content: space-evenly;
  }

  .login {
    order: 2;
    margin: auto 0 auto;
  }
}

/* end header */


/* start section .search */

.search {
  width: 90%;
  margin: auto;
}

.search-title > h1 {
  font-size: 1.375rem;
}

.search-field {
  position: relative;
}

.search-field input {
  width: 90%;
  height: 49px;
  margin-left: 5%;
  border: 1px solid #F2F2F2;
  border-right: none;
  border-left: none;
  padding-left: 3.75rem;
  font-size: 1rem;
  font-weight: bold;
}

.search-field input:focus {
  outline: none;
}

.fa-map-marker-alt {
  position: absolute;
  left: 0;
  font-size: 1.125rem;
  background-color: #F2F2F2;
  padding: 16px 20px;
  border-radius: 10px 0 0 10px;
}

.fa-search {
  position: absolute;
  right: 0;
  font-size: 1.125rem;
  background-color: #0065FC;
  color: white;
  padding: 1rem;
  border-radius: 10px;
}

.search-field button {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  padding: 16px 12px;
  border-radius: 0 1rem 1rem 0;
  transition: all 0.4s ease-in-out;
}

.search-field button:hover {
  cursor: pointer;
  background-color: #DEEBFF;
  color: black;
}

.filters {
  font-weight: bold;
}

.filters-title {

}

.filters-badge {
  display: flex;
  flex-wrap: wrap;
}

.badge {
  border: 2px solid #F2F2F2;
  padding-right: 1.5rem;
  border-radius: 2rem;
  border-left: none;
  margin: 5px 5px 5px 0;
  transition: all 0.4s ease-in-out;
}

.badge:hover {
  cursor: pointer;
  border-color: #DEEBFF;
}

.badge > i {
  color: #0065FC;
  background-color: #DEEBFF;
  padding: 16px;
  border-radius: 50%;
}

.badge:nth-child(2) > i {
  padding-right: 20px;
}

.filters-information {
  margin-top: 1rem;
  font-weight: normal;
  display: flex;
}

.badge-info {
  color: #0065FC;
}

.badge-info > i {
  padding: 4px 8px;
  border: 2px solid #F2F2F2;
  border-radius: 50%;
  display: initial;
}

.filters-information__text {
  margin-left: 0.5rem;
}

@media all and (min-width: 768px){
  .filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  .filters-title {
    margin-right: 2rem;
  }

  .filters-information {
    flex-basis: 100%;
  }

  .search-field input {
    width: 234px;
    padding-left: 2rem;
  }
}

/* end section .search */

/* start section .accommodation*/

/*img l127 h134*/

.accommodations {
  margin-top: 2rem;
}

.accommodations-wrapper__popular {
  background-color: #F2F2F2;
  padding-bottom: 2rem;
}

.accommodation-title {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-top: 1.5rem;
}

.fa-chart-line {
  display: flex;
  margin: auto 0;
  font-size: 1.5rem;
}

@media screen and (min-width: 1400px) {

  .accommodation-title {
    margin: 0 10px;
  }

  .accommodations-wrapper__city {
    padding: 0 1.5rem;
  }

  .accommodations-wrapper__popular > .accommodation-title h3{
    padding: 0 1.5rem;
  }

  .accommodations-wrapper__popular-items {
    padding: 0 2rem;
  }
}

.popular-item {
  display: flex;
  max-width: 337px;
  margin: auto auto 10px;
  background-color: white;
  border: 5px solid white;
  border-radius: 30px;
}

.popular-item:last-child {
  margin-bottom: 2rem;
}

.popular-item__img {
  display: flex;
}

.popular-item__img img {
  height: 134px;
  width: 127px;
  object-fit: cover;
  border-radius: 25px 0 0 25px;
}

.popular-item__infos {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.popular-item__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.popular-item__price {
  font-size: 13px;
}

.popular-item__rating {
  margin-top: 2rem;
}

.popular-item__rating i {
  width: 0.75rem;
  height: 0.75rem;
  font-size: 0.813rem;
}

/* activités */

.accommodations-wrapper__city {
  /*background-color: #F6F6F6;*/
}

.accommodations-wrapper__city-items {
  display: inline-flex;
  flex-wrap: wrap;
}

.city-item {
  display: flex;
  flex-direction: column;
  max-width: 337px;
  margin: auto auto 10px;
  border: 5px solid white;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 5px 5px #F3F3F3;
}

.city-item__img {
  width: 325px;
}

.city-item__img img {
  height: 114px;
  width: 100%;
  object-fit: cover;
}

.city-item__infos {
  background-color: white;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 15px;
}

.city-item__title {
  font-weight: bold;
}

.city-item__price {
  font-size: 13px;
}

.btn-wrapper {
  width: 90%;
  display: flex;
  margin: 20px auto;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  padding: 0;
}

@media screen and (min-width: 1200px){
  .accommodations {
    display: flex;
    justify-content: space-around;
  }

  .accommodations-wrapper__popular {
    order: 2;
    border-radius: 1.5rem;
    width: 419px;
    margin-left: 5%;
  }

  .accommodations-wrapper__city {
    width: 875px;
    border-radius: 1.5rem;
    background-color: #F2F2F2;
  }

  .city-item {
    width: 248px;
    margin: 15px auto;
  }

  .city-item__img img {
    width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .accommodations {
    display: flex;
    justify-content: start;
    margin: 2rem auto;
    width: 90%;
  }

  .popular-item {
    margin: 1rem auto 2rem;
  }

}

/* section .activities */
.activities {
  width: 90%;
  margin: 3rem auto;
}

.activities-wrapper {
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 1024px){
  .activities-wrapper {
    width: 100%;
    margin: unset;
  }
}

.activity-item {
  display: block;
  cursor: pointer;
  max-width: 337px;
  /*height: 190px;*/
  border-radius: 25px;
  margin-bottom: 2rem;
  overflow: hidden;
  box-shadow: 0 5px 5px #F3F3F3;
}

.activity-item__img {
  height: 134px;
  background-position: center 20%;
  background-size: cover;
}

.activity-item__img img {
  /*height: 134px;*/
  /*width: 100%;*/
  /*object-fit: cover;*/
  /*height: 85%;*/
}

.activity-item__title {
  padding-left: 15px;
}

.card1 > .activity-item__img {
  background-image: url("./images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}


.card2 > .activity-item__img {
  background-image: url("./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-position: center 42%;
}


.card3 > .activity-item__img {
  background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}


.card4 > .activity-item__img {
  background-image: url("./images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  background-position: center 15%;
}

.card5 > .activity-item__img {
  background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

.card6 > .activity-item__img {
  background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

@media screen and (min-width: 768px){
  .activities-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .activity-item {
    width: 45%;
  }
}

@media screen and (min-width: 1024px){
  .activities-wrapper {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1400px){
  .activities {
    display: flex;
    justify-content: start;
    margin: 2rem auto;
    width: 90%;
    flex-direction: column;
  }

  .activities-wrapper {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    height: 446px;
    margin-left: 0;
  }

  .activity-item {
    display: flex;
    flex-direction: column;
    width: 306px;
    margin: 0 23px 0 0;
  }

  .activity-item__title {
    height: auto;
  }

  .card1 {
    height: 100%;
  }
  .card2 {
    height: 53.36%;
    margin-bottom: auto;
  }
  .card3 {
    height: 37%;
    margin-bottom: 0;
  }
  .card4 {
    height: 100%;
  }
  .card5 {
    height: 43.50%;
    margin-bottom: auto;
  }
  .card6 {
    height: 47.08%;
    margin-bottom: 0;
  }

  .activity-item__img {
    height: 100%;
    width: unset;
  }

  .card1 .activity-item__img img {
    height: 388px;
  }

}

/* end section .activities*/

/* start footer */

footer {
  background-color: #F2F2F2;
  padding: 2rem 0;
}

.footer-wrapper {
  display: flex;
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 1024px){
  .footer-wrapper {
    flex-direction: column;
  }

  .footer__links > .col1 {
    margin-right: 75px;
  }

  .footer__links > .col2 {
    margin-right: 79px;
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__links a {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1200px){
  .col1 {
    margin-right: 200px;
  }

  .col2 {
    margin-right: 279px;
  }
}


/* header border*/
@media screen and (max-width: 767px){

  header {
    width: 100%;
  }

  .logo {
    margin-left: 5%;
  }

  .login {
    margin-right: 5%;
  }

  ul {
    text-align: center;
  }

  .link1 {
    width: 50%;
    border-bottom: 3px solid blue;
    padding-bottom: 1rem;
  }

  .link2 {
    width: 50%;
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 768px){
  header {
    padding-top: 0;
  }

  ul {
    margin-top: 0;
    text-align: center;
  }

  ul li {
    width: 40%;
  }

  nav {
    height: 70px;
  }

  .link1 {
    border-top: 3px solid #0065FC;
    padding-top: 23px;
  }

  .link2 {
    padding-top: 26px;
  }
}
